body {
    background-color: black;
    color: aliceblue;
}

.main-title {
    margin-left: 30px;
}

#banner {
    width: 100%;
}

#mission {
    font-size: 20px;
}

em strong {
    color: Aqua;
}

.texth1 {
    text-align: center;
    margin: 50px;
}

.benefits {
    font-style: italic;
    background-color: Gray;
    color: black;
}

.benefits h3 {
    text-align: center;
    font-style: normal;
    padding-top: 35px;
} 

ul {
    display: inline-block;
    vertical-align: top;
    padding-left: 70px;
    font-size: 25px;
}

#imgbenefits {
    width: 50%;
    margin-left: 250px;
}